<!-- New Arrivals -->

      <div class="new_arrivals">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <div class="section_title new_arrivals_title">
                <h2>New Arrivals</h2>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col text-center">
              <div class="new_arrivals_sorting">
                <ul
                  class="arrivals_grid_sorting clearfix button-group filters-button-group"
                >
                  <a href="/products"><li
                    class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center "
                  >
                  All</li></a>
                 <a href="/products/smartphone"> <li
                    class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                  >
                    Smartphone
                  </li></a>
                  <a href="/products/laptop"><li
                    class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                    data-filter=".accessories"
                  >
                    Laptop
                  </li></a>
                  <a href="/products/accessory"><li
                    class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                    data-filter=".men"
                  >
                    Accessory
                  </li></a>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div
                class="product-grid"
                data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'
              >
                <!-- Product 1 -->
                {{#products}}
                <div class="product-item men">
                  <div class="product discount product_filter">
                    <div class="product_image">
                      <img src="{{urlImage}}" />
                    </div>
                    <div class="favorite favorite_left"></div>
                    <div
                      class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"
                    >
                      <span></span>
                    </div>
                    <div class="product_info">
                      <h6 class="product_name">
                        <a href="/products/{{typeProduct}}/{{_id}}"
                          >{{nameProduct}}</a
                        >
                      </h6>
                      <div class="product_price">
                        {{priceProduct}}<span>{{priceProduct}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="red_button add_to_cart_button">
                    <a href="#">add to cart</a>
                  </div>
                </div>
                {{/products}}
              </div>
               
            </div>
          
          </div>
           
        </div>
      </div>