<!-- New Arrivals -->

      <div class="new_arrivals">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <div class="section_title new_arrivals_title">
                <h2>New Arrivals</h2>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            
            <div class="col text-center">
              
              <div class="new_arrivals_sorting">
                <form method="post">
                    <div class="input-group" style="margin-bottom: 50px;">
                    <input name="searchValue" type="search" class="form-control rounded" placeholder="Bạn tìm gì..." aria-label="Search" aria-describedby="search-addon" />
                    <button type="Submit" class="btn btn-outline-primary">search</button>
                </div>
                </form>
                <ul
                  class="arrivals_grid_sorting clearfix button-group filters-button-group"
                >
                  <li
                    class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                  >
                    <a href="/products">All</a>
                  </li>
                 <a href="/products/smartphone"> <li
                    class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                  >
                    Smartphone
                  </li></a>
                  <a href="/products/laptop"><li
                    class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                  >
                    Laptop
                  </li></a>
                  <a href="/products/accessory"><li
                    class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                  >
                    Accessory
                  </li></a>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div
                class="product-grid"
                data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'
              >
                <!-- Product 1 -->
                {{#products}}
                <div class="product-item men">
                  <div class="product discount product_filter">
                    <div class="product_image">
                      <img src="{{this.urlImage}}" />
                    </div>
                    <div class="favorite favorite_left"></div>
                    <div
                      class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"
                    >
                      <span></span>
                    </div>
                    <div class="product_info">
                      <h6 class="product_name">
                        <a href="/products/{{typeProduct}}/{{_id}}"
                          >{{nameProduct}}</a
                        >
                      </h6>
                      <div class="product_price">
                        {{priceProduct}}<span>{{priceProduct}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="red_button add_to_cart_button">
                    <a href="#">add to cart</a>
                  </div>
                </div>
                {{/products}}
              </div>
                <div class="product__pagination">
                    <a href="?page={{previousPage}}" class="prev"><i class="fa fa-long-arrow-left"></i></a>
                    {{#pages}}
                        <a href="?page={{.}}">{{.}}</a>
                    {{/pages}}
                    <a href="?page={{nextPage}}"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
          
          </div>
           
        </div>
      </div>